h1{
    margin-right: 100px;
    padding-right: 100px;
    border-right: 1px solid #000;
    text-decoration-line: underline;
    text-decoration-style: "solid";
    text-decoration-color: rgba(255,193,7,1);
    text-decoration-thickness: 3px;
}

.container{
    margin-top: 150px;
    width: 900px;
    border: 1px solid #000;
    border-radius: 15px;
    padding: 55px;
    -webkit-box-shadow:0px 10px 39px 10px rgba(255,193,7,1);
    -moz-box-shadow: 0px 10px 39px 10px rgba(255,193,7,1);
    box-shadow: 0px 10px 39px 10px rgba(255,193,7,1);
}

a{
    color: #000;
    text-decoration-color: rgba(255,193,7,1);
}